#cls-btn {
    position: absolute;
    z-index: 99;
    top: 50px;
    right: 50px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 2px;
}

#cls-btn p {
    padding-top: 4px;
    padding-left: 8px;
    margin: 0px;
}

body {
    margin: 0px;
    background-image: linear-gradient(to bottom, #43c6ac, #191654);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html {
    margin: 0px;
    width: 100%;
    height: 100%;
}