@font-face {
  font-family: name;
  src: url("./fonts/name.ttf");
}

@font-face {
  font-family: title;
  src: url("./fonts/titles.ttf");
}

@font-face {
  font-family: text;
  src: url("./fonts/text.ttf");
}

h1 {
  font-family: name;
  color: white;
  font-size: 64px;
  margin: 0px;
  padding-top: 200px;
}

h2 {
  padding-left: 75px;
  padding-top: 50px;
  padding-bottom: 25px;
  font-family: title;
  font-size: 24px;
  margin: 0px;
}

p {
  font-family: text;
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 20px;
}

#propic {
  width: 256px;
  height: 256px;
  margin-left: calc(50% - 128px);
  margin-top: 200px;
  margin-bottom: 50px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
div#search-bar {
  width: calc(100% - 82px);
  padding-left: 82px;
  z-index: 97;
  position: fixed;
  background-color: #303030;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#nav {
  height: 100%;
  width: 82px;
  background-color: #222326;
  z-index: 98;
  position: fixed;
  box-shadow: inset -5px 0px 40px 0px rgba(0, 0, 0, 0.75);
}

#nav #main-page {
  margin: 25px 25px 21px 25px;
  float: left;
  box-sizing: border-box;
}

#nav #main-page img {
  content: url("./images/navbar/home-gold.png");
}

#nav #projects {
  margin: 25px 25px 21px 25px;
  float: left;
  box-sizing: border-box;
}

#nav #projects img {
  content: url("./images/navbar/project-white.png");
}

#nav #projects img:hover {
  content: url("./images/navbar/project-gold.png");
}

#nav #resume {
  margin: 25px 25px 21px 25px;
  float: left;
  box-sizing: border-box;
}

#nav #resume img {
  content: url("./images/navbar/resume-white.png");
}

#nav #resume img:hover {
  content: url("./images/navbar/resume-gold.png");
}

#nav #github {
  margin: 25px 25px 21px 25px;
  float: left;
  box-sizing: border-box;
}

#nav #github img {
  content: url("./images/navbar/github-white.png");
}

#nav #github img:hover {
  content: url("./images/navbar/github-gold.png");
}

#nav #oriz-spacer {
  width: 58px;
  height: 1px;
  background-color: #808080;
  margin: 0px;
  padding: 0px;
  margin-left: 12px;
  margin-right: 12px;
  float: left;
  box-sizing: border-box;
  opacity: 0.5;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#main_data {
  max-width: 1200px;
  min-width: 900px;
  margin: auto;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.75);
}

#main {
  height: 100%;
  width: 100%;
  z-index: 2;
  position: fixed;
  overflow-y: scroll;
  padding-left: 150px;
  padding-right: 68px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body {
  z-index: 1;
  position: relative;
  margin: 0px;
  background-image: linear-gradient(to top, #547A50, #0a9994);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

html {
  z-index: 0;
  height: 100%;
  width: 100%;
}
