@font-face {
  font-family: title;
  src: url("./fonts/titles.ttf");
}

@font-face {
  font-family: text;
  src: url("./fonts/text.ttf");
}

@font-face {
  font-family: subtext;
  src: url("./fonts/subtext.otf");
}

/* line 18, C:/Dev/WEB/Personal-Website/Personal-Website/style/scss/index.scss */
h1 {
  font-family: title;
  color: white;
  font-size: 32px;
  margin: 0px;
}

/* line 25, C:/Dev/WEB/Personal-Website/Personal-Website/style/scss/index.scss */
p {
  font-family: text;
  color: white;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 20px;
}

/* line 31, C:/Dev/WEB/Personal-Website/Personal-Website/style/scss/index.scss */
p #nav-imp {
  font-family: title;
  color: white;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 20px;
}

/* line 40, C:/Dev/WEB/Personal-Website/Personal-Website/style/scss/index.scss */
p1 {
  font-family: text;
  color: white;
  font-size: 15px;
  margin-bottom: 20px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* line 49, C:/Dev/WEB/Personal-Website/Personal-Website/style/scss/index.scss */
div#search-bar {
  width: calc(100% - 82px);
  padding-left: 82px;
  z-index: 97;
  position: fixed;
  background-color: #303030;
  -webkit-app-region: drag;
}

/* line 56, C:/Dev/WEB/Personal-Website/Personal-Website/style/scss/index.scss */
div#search-bar #minimize {
  margin: 16px 8px 12px 16px;
  float: right;
  box-sizing: border-box;
  -webkit-app-region: no-drag;
}

/* line 62, C:/Dev/WEB/Personal-Website/Personal-Website/style/scss/index.scss */
div#search-bar #maximize {
  margin: 16px 8px 12px 8px;
  float: right;
  box-sizing: border-box;
  -webkit-app-region: no-drag;
}

/* line 68, C:/Dev/WEB/Personal-Website/Personal-Website/style/scss/index.scss */
div#search-bar #close {
  margin: 16px 16px 12px 8px;
  float: right;
  box-sizing: border-box;
  -webkit-app-region: no-drag;
}

/* line 74, C:/Dev/WEB/Personal-Website/Personal-Website/style/scss/index.scss */
div#search-bar #spacer {
  float: right;
  height: 30px;
  width: 1px;
  background-color: #808080;
  margin: 9px 8px 9px 8px;
  opacity: 0.5;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* line 87, C:/Dev/WEB/Personal-Website/Personal-Website/style/scss/index.scss */
#nav {
  height: 100%;
  width: 82px;
  background-color: #222326;
  z-index: 98;
  position: fixed;
  box-shadow: inset -5px 0px 40px 0px rgba(0, 0, 0, 0.75);
}

/* line 94, C:/Dev/WEB/Personal-Website/Personal-Website/style/scss/index.scss */
#nav #main-page {
  margin: 25px 25px 21px 25px;
  float: left;
  box-sizing: border-box;
  -webkit-app-region: no-drag;
}

/* line 100, C:/Dev/WEB/Personal-Website/Personal-Website/style/scss/index.scss */
#nav #browse {
  margin: 25px 25px 21px 25px;
  float: left;
  box-sizing: border-box;
  -webkit-app-region: no-drag;
}

/* line 106, C:/Dev/WEB/Personal-Website/Personal-Website/style/scss/index.scss */
#nav #radio {
  margin: 25px 25px 21px 25px;
  float: left;
  box-sizing: border-box;
  -webkit-app-region: no-drag;
}

/* line 112, C:/Dev/WEB/Personal-Website/Personal-Website/style/scss/index.scss */
#nav #library {
  margin: 25px 25px 21px 25px;
  float: left;
  box-sizing: border-box;
  -webkit-app-region: no-drag;
}

/* line 118, C:/Dev/WEB/Personal-Website/Personal-Website/style/scss/index.scss */
#nav #oriz-spacer {
  width: 58px;
  height: 1px;
  background-color: #808080;
  margin: 0px;
  padding: 0px;
  margin-left: 12px;
  margin-right: 12px;
  float: left;
  box-sizing: border-box;
  -webkit-app-region: no-drag;
  opacity: 0.5;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* line 135, C:/Dev/WEB/Personal-Website/Personal-Website/style/scss/index.scss */
#main {
  height: 100%;
  width: 100%;
  z-index: 2;
  position: fixed;
  overflow-y: scroll;
  padding-left: 82px;
  padding-right: 82px;
}

/* line 143, C:/Dev/WEB/Personal-Website/Personal-Website/style/scss/index.scss */
#main #main-content {
  border: 0px;
  width: 100%;
  height: 100%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* line 152, C:/Dev/WEB/Personal-Website/Personal-Website/style/scss/index.scss */
body {
  z-index: 1;
  position: relative;
  margin: 0px;
  background-image: url(./images/2.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* line 162, C:/Dev/WEB/Personal-Website/Personal-Website/style/scss/index.scss */
html {
  z-index: 0;
  height: 100%;
  width: 100%;
}

/*# sourceMappingURL=../index.map */