@font-face {
  font-family: name;
  src: url("./fonts/name.ttf");
}

@font-face {
  font-family: title;
  src: url("./fonts/titles.ttf");
}

@font-face {
  font-family: text;
  src: url("./fonts/text.ttf");
}

h1 {
  font-family: name;
  color: white;
  font-size: 24px;
  margin: 0px;
}

h2 {
  font-family: title;
  font-size: 20px;
  margin: 0px 0px 8px 0px;
}

p {
  font-family: text;
  color: black;
  margin: 0px;
  font-size: 16px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#menuButton {
  visibility: hidden;
  overflow: hidden;
  height: 0px;
}

#menuButtonShader {
  visibility: hidden;
  overflow: hidden;
  height: 0px;
}

#menu {
  visibility: hidden;
}

#menuShader {
  visibility: hidden;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#main {
  z-index: 2;
  position: static;
}

#main .mainContent {
  max-width: 800px;
  min-width: 400px;
  margin: auto;
  margin-top: 64px;
  margin-bottom: 32px;
  border-radius: 8px;
  padding: 24px;
  background-color: white;
}

#main .mainContent .paragraphContainer {
  margin: 0px;
  margin-bottom: 16px;
  border-radius: 8px;
  padding: 16px 24px 16px 24px;
  background-color: lightgray;
}

#mainTitleContainer {
  margin-top: 64px;
  width: 100%;
}

#mainTitleContainer #mainTitle {
  left: calc(50% - 385px);
  font-size: 72px;
  text-align: center;
}

#mainTitleContainer .title {
  visibility: hidden;
  overflow: hidden;
  height: 0px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body {
  margin: 0px;
  background-image: linear-gradient(to top, #D38312, #A83279);
  background-size: 100% calc(100% + 50px);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

html {
  z-index: 0;
}
